<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>闲途 登陆</title>
<script src="javascripts/jquery-1.7.2.min.js" type="text/javascript" > </script>
<script src="javascripts/login.js"	type="text/javascript" > </script>
<link rel="stylesheet" href="denglu.css"; type="text/css" media="screen" />
<style type="text/css">
body {
	margin-top: 0px;
}
</style>

</head>
<div class="whole">
  <div class="head">
     <div class="yhm"><input name="" type="text" id="username"  style="width:225px; height:48px; background-color:transparent; font-size:24px;" /></div>
     <div class="mima"><input name="" type="password" id="password" style="width:225px; height:48px; background-color:transparent; font-size:24px;" /></div>
     <div class="denglu"><img src="qie/r2_c2.png" width="100" height="53" id="login_btn" /></div>
     <div class="zhuce"><a href="register"><img src="qie/r3_c2_r2_c4.png" width="100" height="53" border="0" /></a></div>
     <div class="logo"><img src="qie/logo.png" width="176" height="90" /></div>
    
  </div>
</div><!whole结束>

<body>

</body>
</html>
