<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>闲途注册</title>
<script src="javascripts/jquery-1.7.2.min.js" type="text/javascript" ></script>
<script src="javascripts/register.js" type="text/javascript" ></script>
<link href="register.css" rel="stylesheet" type="text/css" /> 
<style type="text/css">
body {
	margin-top: 0px;
}
</style>
</head>

<body>
<div class="whole">
  <div class="head1">
   <div class="head2">
     <div class="shuru">用户名
          <div class="shuruzi"><input name="" type="text" style="height:30px; width:212px;" id="username" /></div></div>
          <p></p>
          <div class="shuru">真实姓名
          <div class="shuruzi"><input name="" type="text" style="height:30px; width:212px;" id="realname" /></div></div>
          <p></p>
      <div class="shuru">设置密码
          <div class="shuruzi"><input name="" type="password" style="height:30px; width:212px;" id="password" /></div></div>
          <p></p>
      <div class="shuru">确认密码
          <div class="shuruzi"><input name="" type="password" style="height:30px; width:212px;" id="repassword" /></div></div>
  
          <p></p>
      <div class="shuru">邮箱地址
          <div class="shuruzi"><input name="" type="text" style="height:30px; width:212px;" id="email" /></div></div>
        <p></p>
        <div class="shuru">手机号码
          <div class="shuruzi"><input name="" type="text" style="height:30px; width:212px;" id="mobile" /></div></div>
         <p></p>
          <div class="shuru">暂住地址
          <div class="shuruzi"><input name="" type="text" style="height:30px; width:212px;" id="address" /></div></div>
          <p></p>
          <div class="shuru1">
             <div class="shuru2">性别</div>
           
            <div class="shuru3">
              <table width="100" border="0" align="left" cellspacing="10">
                 <label>
                    <input type="radio" class="gender"  name="sex" value="男" checked />
                    男</label>
                
                 <label>
                    <input type="radio" class="gender"  name="sex" value="女" />
                    女</label>
              </table>
          </div>
           
           </div>
          
          
          <p></p>
  <div class="shuru"><input name="" type="checkbox" value="" id="rule"  />    
          我同意《闲途服务条款》</div>
        
            <div class="zhuce"><img src="Images/zhuce/zhuce.png" width="80" height="32" border="0" id="reg_btn"  /></div>
            
            
            <div class="weizhi"><span class="aa">您的位置：</span>注册会员</div>
       
       
       
    </div>
       
<div class="you">
      <div class="zhuce"><input name="" type="text" style="height:30px; width:300px;"/></div>
      <div class="zhuce1"><img src="Images/zhuce/search.png" width="45px" height="30px" border="0" /></div>
         <div class="zhuce2"><img src="Images/zhuce/map.jpg" width="531" height="349" border="0" /></div>
       
    </div>
       
       
  </div>
</div>

</body>
</html>
