@charset "utf-8";
/* CSS Document */

.whole
{width:980px;
margin:auto;
}
.head
{width:980px;
height:640px;
float:left;
display:inline;
background-image: url(qie/r1_c1.jpg);
}
.yhm
{width:231px;
height:53px;
float:left;
display:inline;
margin-left:705px;
margin-top:92px;
}
.mima
{width:231px;
height:53px;
float:left;
display:inline;
margin-left:705px;
margin-top:7px;
}
.zhuce
{width:100px;
height:53px;
float:left;
display:inline;
margin-left:836px;
margin-top:-53px;
}
.denglu
{width:100px;
height:53px;
float:left;
display:inline;
margin-left:705px;
margin-top:20px;
}
.logo
{width:176px;
height:90px;
float:left;
display:inline;
margin-left:20px;
margin-top:-250px;
}
